.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7db6f7;
}

.header h2 {
    font-size: 40px;
    margin: 0;
  }

.navigation {
    display: flex;    
}

.navigation__logo {
    padding-left: 30px;
}

.navigation__logo a {
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}

.navigation__logo a:hover {
    color: #14084d;
    transition: all .7s;
}

.navigation__link__active {
    border-bottom: 1px solid #fff;
}

.navigation__links {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.navigation__links li {
    margin-left: 20px;
}

.navigation__links li a {
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}

.navigation__links li a:hover {
    color: #14084d;
    transition: all .7s;
}

#menu__toggle {
    opacity: 0;
}

.hamburger-menu {
    margin-left: auto;
}

@media (max-width: 1023px) {
    .header h1 {
        display: none;
      }
  }

@media (max-width: 767px) { 
    .container {
      padding-right: 10px;
      padding-left: 10px;
    }
  }  

@media (max-width: 600px) {

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked~.menu__box {
        visibility: visible;
        left: 0;        
    }
    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;        
        right: 30px;        
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 5;
        top: 20px;
    }
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .35s;
    }
    .menu__btn>span::before {
        content: '';
        top: -8px;
    }
    .menu__btn>span::after {
        content: '';
        top: 8px;
    }
    .navigation__links {
        display: none;
    }
    .navigation__links li {
        margin-left: 0;
    }
    .navigation__links li a {
        font-size: 18px;
        line-height: 25px;
        padding-top: 25px;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        opacity: 1;
        text-align: center;
        margin: 0;
        padding: 70px 0 40px;
        list-style: none;
        background-color: #7db6f7;    
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        position: absolute;
        z-index: 2;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    label.menu__btn {
        display: none;
    }
    label.menu__btn {
        display: inline-flex;
    }
    a.menu__item {
        color: blue;
    }
}